#root {
  /*background: radial-gradient(circle, #243b55 10%, #141e30 80%);*/
  background-image: url('./components/images/images/background.jpg');
  background-size: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;

}

body {
  background-color: #141e30;
  background-image: url('./components/images/images/background.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}